<div class="col-sm-4 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>These blogs will have a variety of content.</br>From simple musings of my mind to ways of helping fellow developers.</br>Also feel free to leave any suggestions in the comment section of my site.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module sidebar-module-inset icons connect-h4">
    <h4>Connect More</h4>
    <div class="icon-position">
      <a class="icon-size" href="https://www.linkedin.com/in/devanrwalker/"><%= image_tag('linkedin.png') %></a>
      <a class="icon-size" href="https://plus.google.com/+DevanWalker2"><%= image_tag('googleplus.png') %></a>
      <a class="icon-size" href="https://github.com/devanrwalker"><%= image_tag('github.png') %></a>
      <a class="icon-size" href="https://twitter.com/devanrwalker"><%= image_tag('twitter.png') %></a>
      <a class="icon-size" href="https://www.instagram.com/devanrwalker/"><%= image_tag('instagram.png') %></a>
      <a class="icon-size" href="https://www.twitch.tv/onefruitpunchman"><%= image_tag('twitch.png') %></a>
      <a class="icon-size" href="https://www.facebook.com/devan.r.walker"><%= image_tag('facebook.png') %></a>
    </div>
  </div>
</div>
