<div class="container-inner">
  <h1>{ways.to} <span>connect</span>.</h1>
  <nav>
    <ul>
      <div class="social-icons">
        <li><a href="https://www.meetup.com/members/159017832/"><%= image_tag("meetup.png") %></a></li>
        <li><a href="https://github.com/devanrwalker"><%= image_tag("github.png") %></a></li>
        <li><a href="https://twitter.com/devanrwalker"><%= image_tag("twitter.png") %></a></li>
        <li><a href="https://plus.google.com/u/0/113871369001760537324"><%= image_tag("google.png") %></a></li>
        <!--<li><span class="flaticon-twitter-logo"></span></li>-->
        <li><a href="https://www.linkedin.com/in/devanrwalker/"><%= image_tag("linkedin.png") %></a></li>
      </div>
    </ul>
  </nav>
</div>
