<!-- Footer -->
<footer id="footer">

  <ul class="icons">
    <li class="icon-size"><a href="https://www.linkedin.com/in/devanrwalker/"><%= image_tag('linkedin.png') %></a></li>
    <li class="icon-size"><a href="https://plus.google.com/+DevanWalker2"><%= image_tag('googleplus.png') %></a></li>
    <li class="icon-size"><a href="https://github.com/devanrwalker"><%= image_tag('github.png') %></a></li>
    <li class="icon-size"><a href="https://twitter.com/devanrwalker"><%= image_tag('twitter.png') %></a></li>
    <li class="icon-size"><a href="https://www.instagram.com/devanrwalker/"><%= image_tag('instagram.png') %></a></li>
    <li class="icon-size"><a href="https://www.twitch.tv/onefruitpunchman"><%= image_tag('twitch.png') %></a></li>
    <li class="icon-size"><a href="https://www.facebook.com/devan.r.walker"><%= image_tag('facebook.png') %></a></li>
  </ul>

  <ul class="copyright">
    <li><%= copyright_generator %></li>
  </ul>

</footer>
