<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--<title><%= @page_title %></title>-->
    <!--<%= csrf_meta_tags %>-->

    <!--<meta name="keywords" content="<%= @seo_keywords %>" />-->

    <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <!--<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
  <!--</head>-->
  <!--<body>-->
<div class="row">
  <div class="col-md-6">
    <div class="container">
      <div class="container-inner">
        <h1>{contact} <span>me</span>.</h1>
        <nav>
          <ul>
            <li><a href="#">T</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">g</a></li>
            <li><a href="#">+</a></li>
            <li><a href="#">R</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!--<h1>A Splash Of My Info</h1>-->
    <!--<p>Would enjoy any questions you have.</p>-->

    <!--<p><%= number_to_phone 3852295943 %></p>-->
    <!--<p><a href="mailto:devanrwalker@gmail.com?subject=PortfolioContact">devanrwalker@gmail.com</a></p>-->
    <!--<p><%= "www.linkedin.com/in/devanrwalker" %></p>-->
    <!--<p><%= "@ South Jordan, UT" %></p>-->
  </div>

  <div class="col-md-6">
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.8522868268838!2d-111
    .97983498411593!3d40.54485247935045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
    .1!3m3!1m2!1s0x87528594e062a8e3%3A0xe41f5f6b81cd2942!2s3636+Azara+Lane%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus
    !4v1489167769475" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
  </div>
</div>





  <!--</body>-->
<!--</html>-->


<!--<div id='browser'>-->
  <!--<div id='browser-bar'>-->
    <!--<div class='circles'></div>-->
    <!--<div class='circles'></div>-->
    <!--<div class='circles'></div>-->
    <!--<p>Contact Us</p>-->
    <!--<span class='arrow entypo-resize-full'></span>-->
  <!--</div>-->
  <!--<div id='content'>-->
    <!--<div id='left'>-->
      <!--<div id='map'>-->
        <!--<p>Where To Find Us</p>-->
        <!--<div class='map-locator'>-->
          <!--<div class='tooltip'>-->
            <!--<ul>-->
              <!--<li>-->
                <!--<span class='entypo-location'></span>-->
                <!--<span class='selectedLocation'>Israel</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class='entypo-mail'></span>-->
                <!--<a href='#'>johndoe@gmail.com</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class='entypo-phone'></span>-->
                <!--(+972 2) 629 06 32-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class='zoom'></div>-->
      <!--</div>-->
      <!--<ul id='location-bar'>-->
        <!--<li>-->
          <!--<a class='location' data-location='South Jordan' href=''>South Jordan</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a class='location' data-location='Salt Lake County' href=''>Salt Lake County</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a class='location' data-location='Utah' href=''>Utah</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a class='location' data-location='USA' href='http://f.cl.ly/items/0n0o01382l0p1u271D43/usa.png'>USA</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div id='right'>-->
      <!--<p>Connect</p>-->
      <!--<div id='social'>-->
        <!--<a class='social'>-->
          <!--<span class='entypo-facebook'></span>-->
        <!--</a>-->
        <!--<a class='social'>-->
          <!--<span class='entypo-twitter'></span>-->
        <!--</a>-->
        <!--<a class='social'>-->
          <!--<span class='entypo-linkedin'></span>-->
        <!--</a>-->
        <!--<a class='social'>-->
          <!--<span class='entypo-gplus'></span>-->
        <!--</a>-->
        <!--<a class='social'>-->
          <!--<span class='entypo-instagrem'></span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<form>-->
        <!--<p>Get in Contact</p>-->
        <!--<input placeholder='Email' type='email'>-->
        <!--<input placeholder='Subject' type='text'>-->
        <!--<textarea placeholder='Message' rows='4'></textarea>-->
        <!--<input placeholder='Send' type='submit'>-->
      <!--</form>-->
      <!--<p>other way</p>-->
      <!--<p class='other entypo-mail'>-->
        <!--<a href='#'>devanrwalker@gmail.com</a>-->
      <!--</p>-->
      <!--<p class='other entypo-phone'>385-229-5943</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->